.search-header {
  /* border: darkgoldenrod 2px solid; */
  box-sizing: border-box;
  width: 70%;
  height: 70px;
  background: seagreen;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 10px;
}
