.whole-team {
  height: 60%;
  width: 100%;
  background: yellowgreen;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
